MuleProxy/soap-rest/src/main/mule/soap-rest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1b768178-019b-4e7a-946b-4136b4b57e16" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="d21624ca-eaf5-4acf-9bea-2e42573453d5" >
		<wsc:connection wsdlLocation="http://localhost:5000/Service.asmx" service="ISampleService" port="BasicHttpBinding_ISampleService" address="http://localhost:5000/Service.asmx" />
	</wsc:config>
	<flow name="soap-restFlow" doc:id="8e1953f6-9b75-4c28-8005-50def9d560b0" >
		<http:listener doc:name="/soap" doc:id="320e40d5-526c-48f1-ba78-2a0849e4be84" path="/soap" config-ref="HTTP_Listener_config"/>
		<ee:transform doc:name="Transform Message" doc:id="ae6d7feb-9217-4dae-9287-24edc4888c0f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Test: {
		ns0#s: "hello world"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="e46c5278-97b8-446d-9148-d05a412a8a4b" config-ref="Web_Service_Consumer_Config" operation="Test"/>
		<ee:transform doc:name="Transform Message" doc:id="51c8e55e-6cc8-430d-a4ec-18966f06016b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/

---
payload.body.ns0#TestResponse.ns0#TestResult]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="soap-restFlow1" doc:id="7ad3e7ec-d499-4d36-9674-84b3b4f2b60a" >
		<http:listener doc:name="/ping" doc:id="c4af72d1-ad9a-40ad-9dce-307395647357" config-ref="HTTP_Listener_config" path="/ping"/>
		<ee:transform doc:name="Transform Message" doc:id="4196bb7e-c079-47e2-8b5f-8e7a03478a1c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msg": "hello world"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
